<img class="img-responsive" src="{{splashURL + champInfo.name + '_0.jpg'}}" />
<a href="#/home">Go Back</a>
<h3>{{champInfo.name}}</h3>
<h4>{{champInfo.title}}</h4>
<div class="row">
    <div style="border: 1px solid black" ng-repeat="spell in champInfo.spells">
        <img class="img-responsive pull-left" src="{{spellURL + spell.image.full}}" />
        Name: {{spell.name}}<br />Tooltip: {{spell.tooltip}}<hr />
        <div ng-bind-html="trust(spell.tooltip)"></div>
    </div>
    <div class="col-md-6 col-lg-4 text-center" ng-repeat="skin in champInfo.skins" ng-if="skin.name != 'default'">
        <h4>{{skin.name}}</h4>
        <img class="img-responsive" src="{{splashURL + champInfo.name + '_' + skin.num + '.jpg'}}" />
    </div>
</div>

