<div class="container">
    <img style="width: 100%;" class="img-responsive" ng-src="{{splashURL + champInfo.name + '_0.jpg'}}" />
    <div class="row">
        <div class="col-md-60">
            <a href="/">Go Back</a>
            <h3>{{champInfo.name}}</h3>
            <h4>{{champInfo.title}}</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-sm-15" ng-repeat="spell in champInfo.spells">
            <div class="panel panel-default">
                <div class="panel-body">
                    <img class="img-responsive pull-left" ng-src="{{spellURL + spell.image.full}}" /> Name: {{spell.name}}
                    <br />
                    <div ng-bind-html="spell.tooltip | to_trusted"></div>
                    {{spell.cooldownBurn}}&nbsp;seconds.
                    <div ng-bind-html="spell.resource | to_trusted"></div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-30 col-lg-20 text-center" ng-repeat="skin in champInfo.skins" ng-if="skin.name != 'default'">
        <h4>{{skin.name}}</h4>
        <img class="img-responsive" ng-src="{{splashURL + champInfo.name + '_' + skin.num + '.jpg'}}" />
    </div>
</div>
